 <link rel="stylesheet" type="text/css" href="http://localhost:88/bnpb-siratna/public/modal/src/jquery.modallink-1.0.0.css" />
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://localhost:88/bnpb-siratna/public/modal/src/jquery.modalLink-1.0.0.js"></script>


<a href="http://localhost:88/bnpb-siratna/public/suratmasuk-daftar-proses/0000AG" class="modal-link">example</a>




<script>

        $(".modal-link").modalLink();

</script>